form {
	background: #fff;
	padding: 1em !important;
}

.form-group {
	margin-bottom: 2em;
}
/*
@media (min-width: 768px) {
	.form-group {
		width: 50%;
		float: left;
		padding: 1em;
	}
}*/

label {
	display: block;
}

input, textarea {
	font-size: 1em;
	line-height: 1.5;
	outline: 0;
	border: 1px solid #ddd;
	padding: 1em;
	width: 100%;
	max-width: 360px;
}

textarea {
	height: 12em;
}

.character-count {
	position: absolute;
	top: 14em;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}

.font-small {
	font-size: 0.8em;
}

.error-message {
	display: none;
	color: red;
}

.valid {
	color: green;
}

.has-error {
	border-color: red;
}

.has-error + .error-message {
	display: block;
}


/*
.has-error input,
.has-error textarea {
	border-color: red;
}

.has-error .error-message {
	display: block;
}
*/




.hidden {
	display:none
}
